body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: brown;
}

::selection {
    background-color: rgb(194, 174, 174);
    color: rgb(136, 37, 4);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 90%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.products div {
    padding: 5px;
}

div.products img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
}

div.products img:hover {
    border-color: darkslateblue;
    border-style: dotted;
}

footer {
    height: 100%;
    background-color: rgb(238, 238, 195);
    width: 100%;
    border-radius: 10px;
}

footer hr {
    width: 100%;
}

footer ul li {
    display: block;
    list-style: none;
}

div #container div {
    vertical-align: top;
}

.row {
    display: inline-block;
}